# === Server ===
SERVER_PORT=

# === JWT ===
JWT_SECRET=

# === Basic Auth ===
SECURITY_NAME=
SECURITY_PASSWORD=

# === Redis ===
REDIS_PORT=
REDIS_PASSWORD=

# === PostgreSQL ===
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# === Swagger ===
SWAGGER_ENABLED=

# === Logging ===
LOG_FORMAT=
LOG_LEVEL_ROOT=
LOG_LEVEL_APP=

# === Management ===
MANAGEMENT_HEALTH_DETAILS=
MANAGEMENT_ENDPOINTS=
