# === Server ===
SERVER_PORT=

# === Redis ===
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# === Basic Auth ===
SECURITY_NAME=
SECURITY_PASSWORD=

# === PostgreSQL ===
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
